@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');



a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1250px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 18px auto;
}

section > h2{
    font-size: 9rem;
    color: var(--clr-orange);
    text-transform: capitalize;
}

.btn{
    width: fit-content;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--clr-white);
    background-color: var(--clr-orange);
    border: solid 3px transparent;
    padding: 1.3rem 3.7rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s;
    position: relative;
}

.btn::before{
    content: "";
    position: absolute;
    background-color: var(--clr-white);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}

.btn:hover {
    color: var(--clr-black);
}

.btn:hover::before{
    transform: scaleX(100%);
}


.project-section{
    background-color: var(--clr-light-gray);
    padding-top: 3rem;
}

    .project-section .project-header{
        text-align: center;
        font-size:75px;
    }

    .project-section .project-container{
        display: flex;
        flex-direction: column;
        gap: 12rem;
        height:125em;
        padding-top: 4.8rem;
        padding-bottom: 4.8rem;
    }
    

    .project-container .project-card{
        width: 90%;
        height: 55rem;
        background-color: #afafaf;
        
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 4rem #1f1f1f;
        position: relative;
    }

    .project-card:nth-child(even){
        align-self: flex-end;
    }

    .project-card::before{
        content: "";
        background: #1f1f1f9a;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
    }

    .project-card::after{
        content: "";
        background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: all 0.4s;
        z-index: 2;
    } 

    .project-card:hover::after{
        transform: scaleX(1);
    }


    .project-card .project-content{
        color: var(--clr-white);
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        padding: 3.2rem;
        padding-top: 4rem;
        padding-left: 5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
        transition: all 0.4s;
       
        /* max-width: 55%; */
    }

    .project-card:hover > .project-content{
        scale: 1.1;
    }

    .project-card:nth-child(odd) .project-content{
        left: 10%;
    }

    .project-card:nth-child(even) .project-content{
        left: 10%;
    }

    .project-content .project-skills-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        max-width: 60%;
    }

    .project-content .project-skills-container img{
        width: 4rem;
    }

    .project-content h2{
        font-size: 5rem;
        font-weight: 700;
    }

    .project-content p{
        font-size: 1.6rem;
        font-style: italic;
        max-width: 50%;
    }

    .project-content .project-buttons{
        display:flex;
        gap: 1.6rem;
        align-items: center;
    }

    .project-buttons .icons{
        font-size: 4rem;
        color: var(--clr-white);
        transition: all 0.4s;
    }

    .project-buttons .icons:hover{
        color: var(--clr-orange);
    }

    .project-card .project-number{
        font-size: 14rem;
        font-weight: 600;
        color: var(--clr-white);
        position: absolute;
        right: -4rem;
        top: -4.5rem;
        z-index: 10;
        opacity: 0;
        transition: opacity 0.2s;
    }

    .project-card:hover .project-number{
        opacity: 1;
    }

    .project-card:nth-child(even) .project-number{
        right: 4rem;
        top: -7rem;
    }